<div class="content">

    <div class="head">
        <h1> Ashgen</h1>

    </div>



    <div class="form  col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <form class="well form-horizontal" action=" " method="" id="contact_form" (ngSubmit)="Send()" #loginForm="ngForm">
            <fieldset>

                <!-- Form Name -->
                <legend>Register</legend>

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">First Name</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input placeholder="First Name" class="form-control" type="text" id="name" required pattern="[a-zA-Z][a-zA-Z ]+" [(ngModel)]="first_name" name="name" #name="ngModel">

                        </div>
                        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                            <div [hidden]="!name.hasError('required')">Name is required</div>
                            <div [hidden]="!name.hasError('pattern')">Only alphabetsallowed</div>
                        </div>
                    </div>
                </div>

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Last Name</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input placeholder="Last Name" class="form-control" type="text" id="lastname" required pattern="[a-zA-Z][a-zA-Z ]+" [(ngModel)]="last_name" name="lastname" #lastname="ngModel">
                        </div>
                        <div [hidden]="lastname.valid || lastname.pristine" class="alert alert-danger">
                            <div [hidden]="!lastname.hasError('required')">Name is required</div>
                            <div [hidden]="!lastname.hasError('pattern')">Only alphabetsallowed</div>
                        </div>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">E-Mail</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input name="email" placeholder="E-Mail Address" class="form-control" id="email" type="text" [(ngModel)]="e_mail" required #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                        </div>
                        <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                            <div [hidden]="!email.hasError('required')">Email is required</div>
                            <div [hidden]="!email.hasError('pattern')">Email format should be
                                <small><b>joe@abc.com</b></small></div>
                        </div>
                    </div>

                </div>


                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Phone #</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                            <input name="mobilenumber" placeholder="+91" class="form-control" type="text" required id="mobilenumber" [(ngModel)]="mobile_number" #mobilenumber="ngModel" pattern="[0-9]*" minlength="10" maxlength="10">
                        </div>
                        <div [hidden]="mobilenumber.valid || mobilenumber.pristine" class="alert alert-danger">
                            <div [hidden]="!mobilenumber.hasError('minlength')">Mobile should be 10digit</div>
                            <div [hidden]="!mobilenumber.hasError('required')">Mobile is required</div>
                            <div [hidden]="!mobilenumber.hasError('pattern')">Mobile numberr should be only numbers</div>
                        </div>
                    </div>
                </div>

                <!-- Text input-->



                <!-- Text input-->



                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">
                        <button class="btn btn-warning" type="submit" (click)="modal.show();">Send <span class="glyphicon glyphicon-send"></span></button>
                    </div>
                </div>
            </fieldset>
        </form>

    </div>
    <div id="footer">

        <p class="text-muted">Design By Hasnen Tai </p>

    </div>
    <app-modal #modal>

        <div class="app-modal-body alert alert-success">
            Data has been stored in to the Firebase database.A Real Time Data Base
        </div>
        <div class="app-modal-footer">
            <button type="button" class="btn btn-default" (click)="modal.hide()" [disabled]="!loginForm.form.valid">Close</button>

        </div>
    </app-modal>
</div>